.contact-me a, .contact-me a:visited{
    text-decoration: none;
    font-size: 1.5rem;
    /* color: #94a1a1; */
    color: white; 
}
.contact-me {
    color: white;
    margin: 10% 10%;
}
.contact-me .heading{
    font-size: 1.7rem;
    border-bottom: 3px solid #7fc6b8;
    padding-bottom: 5px;
} 