.resume {
    color: white;
    font-size: 1rem;
}

.resume-header{
    margin: 1rem;
    color: white;
    text-align: center;
}

.resume-header a {
    color: white;
    text-decoration: none;
}
.resume-header a:hover{
    text-decoration: underline;
    text-decoration-color: #7fc6b8;
}
.resume-header span {
    font-weight: 700;
    display: block;
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: #7fc6b8;
    margin-bottom: 10px;
    line-height: 2rem;
}

.resume p {
    text-align: justify;
}

.resume span {
    font-weight: 700;
}